---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
data:
  age.agekey: {{ agekey | safe }}
---
apiVersion: v1
kind: Secret
metadata:
  name: flux-system
  namespace: flux-system
type: Opaque
data:
  identity: {{ flux_identity | safe }}
  identity.pub: {{ flux_identity_pub | safe }}
  known_hosts: {{ github_known_hosts | safe }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-ssh-key
  namespace: flux-system
type: Opaque
data:
  identity: {{ secrets_identity | safe }}
  identity.pub: {{ secrets_identity_pub | safe }}
  known_hosts: {{ github_known_hosts | safe }}
