data:
  machine:
    ca:
      crt: {{ certs.os.crt | tojson }}
      key: {{ certs.os.key | tojson }}
    token: {{ trustdinfo.token | tojson }}
  cluster:
    id: {{ cluster.id | tojson }}
    secret: {{ cluster.secret | tojson }}
    token: {{ secrets.bootstraptoken | tojson }}
    ca:
      crt: {{ certs.k8s.crt | tojson }}
      key: {{ certs.k8s.key | tojson }}
    aggregatorCA:
      crt: {{ certs.k8saggregator.crt | tojson }}
      key: {{ certs.k8saggregator.key | tojson }}
    etcd:
      ca:
        crt: {{ certs.etcd.crt | tojson }}
        key: {{ certs.etcd.key | tojson }}
  secrets:
    secretboxencryptionsecret: {{ secrets.secretboxencryptionsecret | tojson }}
  serviceAccount:
    key: {{ certs.k8sserviceaccount.key | tojson }}
  network:
    vip: {{ network.vip | tojson }}
    gateway: {{ network.gateway | tojson }}
    nodeSubnet: {{ network.nodeSubnet | tojson }}
    nodePrefix: {{ network.nodePrefix | tojson }}
  nodes:
    nas:
      ip: {{ nodes.nas.ip | tojson }}
    k8s-01:
      ip: {{ nodes['k8s-01'].ip | tojson }}
    k8s-02:
      ip: {{ nodes['k8s-02'].ip | tojson }}
